<mat-toolbar color="primary" class="navbar">
  <span class="title" [routerLink]="'/home'">CRYPTOurists</span>
  <span class="spacer"></span>

  @if(!walletConnected) {
    <button mat-raised-button color="accent" (click)="connectWallet()">
      Connect Wallet
    </button>
  }

  @if(walletConnected) {
    @if(isAdmin || isBusiness) {
      <button mat-raised-button color="accent" class="articles-button me-4" [routerLink]="'/articles'">
        <mat-icon>library_books</mat-icon>
        <span>Articles</span>
      </button>
    }
    @if(isAdmin && !contractAddressExists) {
      <button mat-raised-button color="warn" class="me-4" (click)="openDeployContractModal()">
        <mat-icon>rocket_launch</mat-icon>
        <span>Deploy Contract</span>
      </button>
    }
    <div class="wallet-info">
      <span class="wallet-address" (click)="copyWalletAddress()">{{ walletAddress | slice:0:6 }}...{{ walletAddress | slice:-4 }}</span>
      <button mat-icon-button [matMenuTriggerFor]="walletMenu">
        <mat-icon>account_balance_wallet</mat-icon>
      </button>
      <mat-menu #walletMenu="matMenu">
        @if(isAdmin) {
          <p class="menu-label">Operator</p>
        }
        @if(isBusiness) {
          <p class="menu-label">Business</p>
        }
        <button mat-menu-item (click)="disconnectWallet()">Disconnect</button>
      </mat-menu>
    </div>
  }
</mat-toolbar>
