<mat-toolbar color="primary" class="navbar">
  <span class="title" [routerLink]="'/home'">CRYPTOurists</span>
  <span class="spacer"></span>

  @if(!walletConnected) {
    <button mat-raised-button color="accent" (click)="connectWallet()">
      Connect Wallet
    </button>
  }

  @if(walletConnected) {
    @if(isAdmin || isBusiness) {
      <button mat-raised-button color="accent" class="articles-button me-4"
              [routerLink]="isArticlesPage ? '/home' : '/articles'">
        <mat-icon>library_books</mat-icon>
        <span>{{ isArticlesPage ? 'Bookings' : 'Articles' }}</span>
      </button>
    }
    @if(isAdmin && !contractAddressExists) {
      <button mat-raised-button color="warn" class="me-4" (click)="openDeployContractModal()" [disabled]="deployingContract">
          <ng-container *ngIf="!deployingContract">
            <mat-icon *ngIf="!deployingContract">rocket_launch</mat-icon>
            <span *ngIf="!deployingContract">Deploy Contract</span>
          </ng-container>
          <span *ngIf="deployingContract">Deploying Contract...</span>
      </button>
    } @else if (isAdmin && contractAddressExists) {
      <button mat-raised-button color="warn" style="text-transform: unset" class="me-4" (click)="openCaminoScan()">
        <span class="icon-container">
          <img style="border-radius: 50%;" src="https://pbs.twimg.com/profile_images/1809501510897692672/buoc5E1F_400x400.png" alt="CaminoScan Logo" class="me-2" width="24" height="24" />
        </span>
        <span
        >CaminoScan</span>
      </button>
    }
    <div class="wallet-info">
      <span class="wallet-address" (click)="copyWalletAddress()">{{ walletAddress | slice:0:6 }}...{{ walletAddress | slice:-4 }}</span>
      <button mat-icon-button [matMenuTriggerFor]="walletMenu">
        <mat-icon>account_balance_wallet</mat-icon>
      </button>
      <mat-menu #walletMenu="matMenu">
        @if(isAdmin) {
          <p class="menu-label">Operator</p>
        }
        @if(isBusiness) {
          <p class="menu-label">Business</p>
        }
        <button mat-menu-item (click)="disconnectWallet()">Disconnect</button>
      </mat-menu>
    </div>
  }
</mat-toolbar>
