<div class="table-container container mt-4">
  <ng-container *ngIf="loading; else dataTable">
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
  <ng-template #dataTable>
    @if(!connected) {
    <h1>Connect the wallet to see the bookings.</h1>
  } @else if(!isAdmin && !isBusiness) {
    <h1>Sorry, you don't have access to the data</h1>
  } @else {
    <h1>Bookings Overview</h1>

    <div class="buttons-wrapper">
      <button mat-raised-button color="primary" class="mb-2" (click)="openCreateBookingModal()">Create Booking</button>
    </div>

    <table mat-table [dataSource]="bookings" class="booking-table mat-elevation-z8">
      <!-- Booking ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="table-header">Booking ID</th>
        <td mat-cell *matCellDef="let booking" (click)="openDetailsBookingModal(booking)">
          {{ booking?.id }}
        </td>
      </ng-container>

      <!-- Total Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef class="table-header">Total Amount</th>
        <td mat-cell *matCellDef="let booking" (click)="openDetailsBookingModal(booking)">
          @if(booking.totalAmount && booking.totalAmount >= 0.0001) {
            <ng-container>
              {{ booking.totalAmount | number:'1.8-8' }} CAM
            </ng-container>
          } @else {
            <ng-template>
              {{ booking.totalAmount | number:'1.18-18' }} CAM
            </ng-template>
          }
        </td>
      </ng-container>

      <!-- Timestamp Column -->
      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef class="table-header">Date</th>
        <td mat-cell *matCellDef="let booking" (click)="openDetailsBookingModal(booking)">
          {{ booking.timestamp | date:'mediumDate' }}
        </td>
      </ng-container>

      <!-- Customer Address Column -->
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef class="table-header">Customer Address</th>
        <td mat-cell *matCellDef="let booking" (click)="openDetailsBookingModal(booking)">
          {{ booking.customer | slice:0:6 }}...{{ booking.customer | slice:-4 }}
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="table-header">Status</th>
        <td mat-cell *matCellDef="let booking" (click)="openDetailsBookingModal(booking)">
          <span [ngClass]="{
            'completed': booking.isCompleted,
            'refunded': booking.isRefunded,
            'paid': booking.isPaid,
            'pending': !booking.isPaid && !booking.isCompleted && !booking.isRefunded
          }">
            {{ booking.isCompleted ? 'Completed' : booking.isRefunded ? 'Refunded' : booking.isPaid ? 'Paid' : 'Pending' }}
          </span>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="table-header">Actions</th>
        <td mat-cell *matCellDef="let booking">
          @if(!booking.isPaid && !booking.isCompleted && !booking.isRefunded) {
            <button mat-raised-button color="primary" (click)="generatePaymentLink(booking)">
              Generate Payment Link
            </button>
          }
          @if(booking.isPaid && !booking.isCompleted && !booking.isRefunded) {
            <button mat-icon-button color="accent" (click)="confirmBooking(booking)">
              <mat-icon>check_circle</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="refundBooking(booking)">
              <mat-icon>cancel</mat-icon>
            </button>
          }
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="clickable-row"></tr>
    </table>
  }
  </ng-template>
</div>
