<h2 mat-dialog-title><span>Article Details</span></h2>

<mat-dialog-content>
  <p><strong>ID:</strong> <span>{{ data.id }}</span></p>
  <p><strong>Name:</strong> <span>{{ data.name }}</span></p>
  <p><strong>Owner Address:</strong> <span>{{ data.ownerAddress || 'N/A' }}</span></p>
  <p><strong>Price:</strong> <span>{{ data.price }} CAM</span></p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="closeDialog()">Close</button>
</mat-dialog-actions>
